* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #713045;
}

.logo {
  margin: 1rem;
  font-size: 3rem;
  color: #c94e4e;
  letter-spacing: 0.3rem;
}

.navlinks ul {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.navlinks li {
  list-style: none;
  padding: 1rem;
  display: block;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navlinks ul li:hover {
  background-color: #c94e4e;
  border-radius: 10px;
}

section {
  background: #c94e4e;
  height: 90vh;
}
